@{
    Layout = "Master.cshtml";
}
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NLogCentral.Web.Models.IndexViewModel>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-exclamation-circle fa-fw"></i> Latest errors</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Machine</th>
                                <th>Application</th>
                                <th>Level</th>
                                <th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in Model.Logs)
                            {
                                string rowStyle = null;
                                switch (log.Level.ToUpper())
                                {
                                    case "FATAL":
                                        rowStyle = "danger"; // Red
                                        break;
                                    case "ERROR":
                                        rowStyle = "warning"; // Yellow
                                        break;
                                    case "WARN":
                                        rowStyle = "info"; // Blue
                                        break;
                                    default:
                                        rowStyle = "active"; // White - also available: "success" = green record
                                        break;
                                }

                                <tr class="@rowStyle">
                                    <td>@log.MachineName</td>
                                    <td>@log.ProcessName</td>
                                    <td>@log.Level</td>
                                    <td>@log.Message</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="#">View Next Page <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
